---
######################################################
# Introduction to the config file
######################################################
#
# This file uses YAML format, you can learn more about it here:
#   https://circleci.com/blog/what-is-yaml-a-beginner-s-guide
#
# Configuration settings for each server are explained in the following
# sections. There are examples for all the configuration options already
# in the file, so if it's confusing, you can probably find something to copy+paste
# instead of writing it manually by hand.
#
# domain:
#
#   The domain to the front page of the server.
#
#   It MUST *NOT* include trailing slash (/).
#   It MUST *NOT* include the protocol (https://)
#
# covenant:
#
#   Configure whether the server follows the Mastodon server covenant
#   explained in details here: https://joinmastodon.org/covenant.
#
#   It MUST be either [true] or [false] (without the []-brackets)
#   If omitted, [false] is assumed.
#   If [true] a comment MUST be added to the server with link describing it/how (can be the "About" page)
#
# category:
#
#   Force a server into a specific category, and bypass the auto-detection logic.
#   You can find the valid categories in the file [scripts/servers/config/categories.yml] (inside this directory)
#
#   It MUST reference the [id] value from [categories.yml]
#   It MUST include a comment explaining why it was forced into the category
#   If omitted, auto-detection will place the server in the right category
#
# without_monitoring:
#
#   Opt the server out of the uptime and performance monitoring we provide out of the box.
#
#   It MUST be either [true] or [false] (without the []-brackets)
#   If omitted, [false] is assumed.
#

- domain: expressional.social
  covenant: true # https://expressional.social/docs/#about-the-server

- domain: norrebro.space

- domain: turingfesten.dk

- domain: mstdn.dk
  covenant: true

- domain: helvede.net

- domain: uddannelse.social

- domain: social.data.coop
  category: private # private organization that require paid membership to join
  without_monitoring: true

- domain: social.multiverset.net

- domain: krigskunst.social
